Resources:
  AWSEBV2LoadBalancerListener443:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      # This is the action that gets executed when a request is sent on a path
      # that does not match any registered rule
      DefaultActions:
        - Type: fixed-response
          FixedResponseConfig:
            ContentType: text/plain
            StatusCode: 400
    DependsOn: ["AWSEBV2LoadBalancer"]
