Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      # Take the load balancer health checks into account to replace instances
      HealthCheckType: ELB
      # Wait this many seconds before doing the first health check once an
      # instance comes online
      HealthCheckGracePeriod: 300
