publicsuffixlist==0.10.*
google-api-core==2.19.1
protobuf==5.29.3
google-auth==2.37.0
requests==2.32.3
proto-plus==1.25.0
googleapis-common-protos==1.66.0
idna==3.10
urllib3==2.2.3
certifi==2024.12.14
cachetools==5.5.1
charset-normalizer==3.4.1
pyasn1-modules==0.4.1
rsa==4.9
pyasn1==0.6.1
